<header>
    <%= title %>

        <% if(locals.employees){%>
            <p><%= locals.employees.name %></p>
            <a href="/students/create-student-page">Add Student</a>
            <a href="/interviews/create-interview-page">Add Interview</a>
            <a href="/">Dashboard</a>
            <a href="/employees/sign-out">Sign Out</a>
        <%}else {%>
            <li><a href="/employees/sign-in">Sign In</a></li>
            <li><a href="/employees/sign-up">Sign Up</a></li>
        <%} %>

</header>