<header>

        <% if(locals.employee){%>

            <ul class="nav-links">
                <li>
                    <a href="" >Hi <%= employee.name %> -</a>
                </li>
                <li>
                    <a href="/students/create-student-page">Add Student</a>
                </li>
                <li>
                    <a href="/interviews/create-interview-page">Add Interview</a>
                </li>
                <li>
                    <a href="/students/download">Download CSV</a>
                </li>
                <li>
                    <a href="/employees/sign-out">Sign Out</a>
                </li>
            </ul>
            
        <%}else {%>
            <a href="/" style="text-decoration: none; color: white; font-size: large;">Dashboard</a>
        <%} %>

</header>