
<form action="/students/create-student" method="post">
    <input type="text" name="name" placeholder="name" required>
    <input type="text" name="batch" placeholder="batch" required>
    <input type="text" name="college" placeholder="college" required>
    <input type="number" name="DSA" placeholder="Score in DSA" required>
    <input type="number" name="webDev" placeholder="Score In Web Developement" required>
    <input type="number" name="react" placeholder="Score in React">
    <input type="submit" value="Submit">
</form>