<h1>Sign In</h1>

<form action="/employees/create-session" method="POST">
    <input type="email" name="email" placeholder="Email"  required>
    <input type="password" name="password" placeholder="Password"  required>
    <input type="submit" value="Sign In">

</form>

<h3>
    <a href="/employees/sign-up" style="text-decoration: none; color: black;">Sign Up</a>
</h3>