#interview-container li{
  font-size: medium;
  background-color: #F4F4F4;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center; /* Center the content inside each list item */
  display: flex;
  align-items: center;
  height: 140px;
}

#interview-container li:hover {
  background-color: #E0E0E0;
}

#interview-container span{
  margin: 10px;
}

#interview-container li small {
  display: block;
  font-style: italic;
  margin-top: 5px;
}

#interview-container form{
  margin-top: 0;
  margin-bottom: 0;
}

#interview-container .dropdown-menu {
  background-color: #f8f9fa;
}

#interview-container .dropdown-item {
  display: flex;
  align-items: center;
  padding: 3px 5px;
  color: #212529;
}

#interview-container .interview-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#interview-container .interview-item span {
  flex: 1; /* Distribute the available space evenly */
  white-space: nowrap; /* Prevent the text from wrapping */
  overflow: hidden; /* Hide any overflow */
  text-overflow: ellipsis; /* Add ellipsis (...) for truncated text */
}

#interview-container .dropdown-item img {
  height: 30px;
  width: 30px;
  margin-left: 10px;
}

#interview-container form {
  margin-top: 10px;
  margin-bottom: 0;
}
